# Recalculation contamination in clean room (ISO6) to ppm

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
particle_data = {
    'Particle Size (μm)': [5, 15, 25, 50, 100, 150],  # Particles size (μm)
    'Quantity': [122, 100, 67, 29, 10, 4]  # Particles quantity
}

In [5]:
particle_df = pd.DataFrame(particle_data)
particle_df

   Particle Size (μm)  Quantity
0                   5       122
1                  15       100
2                  25        67
3                  50        29
4                 100        10
5                 150         4

## Calculate the area of each particle (assume circular shape, A = π * r²)

In [10]:
particle_df['Area (μm^2)'] = np.pi * (np.array(particle_df['Particle Size (μm)']) / 2)**2
particle_df

   Particle Size (μm)  Quantity   Area (μm^2)  Total Area (μm^2)
0                   5       122     19.634954        2395.464398
1                  15       100    176.714587       17671.458676
2                  25        67    490.873852       32888.548092
3                  50        29   1963.495408       56941.366846
4                 100        10   7853.981634       78539.816340
5                 150         4  17671.458676       70685.834706

## Calculate the total area for each particle size (area * quantity)

In [11]:
particle_df['Total Area (μm^2)'] = particle_df['Area (μm^2)'] * particle_df['Quantity']
particle_df

   Particle Size (μm)  Quantity   Area (μm^2)  Total Area (μm^2)
0                   5       122     19.634954        2395.464398
1                  15       100    176.714587       17671.458676
2                  25        67    490.873852       32888.548092
3                  50        29   1963.495408       56941.366846
4                 100        10   7853.981634       78539.816340
5                 150         4  17671.458676       70685.834706

## Calculate the cumulative total area

In [13]:
particle_df['Cumulative Total Area (μm^2)'] = particle_df['Total Area (μm^2)'].cumsum()
particle_df

,Particle Size (μm),Quantity,Area (μm^2),Total Area (μm^2),Cumulative Total Area (μm^2)
0,5,122,19.634954,2395.464398,2395.464398
1,15,100,176.714587,17671.458676,20066.923075
2,25,67,490.873852,32888.548092,52955.471167
3,50,29,1963.495408,56941.366846,109896.838013
4,100,10,7853.981634,78539.816340,188436.654353
5,150,4,17671.458676,70685.834706,259122.489059

## Calculate the total area of all particles

In [15]:
total_particle_area = particle_df['Total Area (μm^2)'].sum()
particle_df

,Particle Size (μm),Quantity,Area (μm^2),Total Area (μm^2),Cumulative Total Area (μm^2)
0,5,122,19.634954,2395.464398,2395.464398
1,15,100,176.714587,17671.458676,20066.923075
2,25,67,490.873852,32888.548092,52955.471167
3,50,29,1963.495408,56941.366846,109896.838013
4,100,10,7853.981634,78539.816340,188436.654353
5,150,4,17671.458676,70685.834706,259122.489059

## Total surface area in μm² (for 2.68 cm²)

In [16]:
area_in_cm2 = 2.68  # Surface area in cm²
area_in_um2 = area_in_cm2 * 1e8  # Convert to μm²

## Calculate contamination in ppm

In [19]:
contamination_ppm = (total_particle_area / area_in_um2) * 1e6

## Calculate cumulative contamination in ppm

In [20]:
particle_df['Cumulative PPM'] = (particle_df['Cumulative Total Area (μm^2)'] / area_in_um2) * 1e6
particle_df

,Particle Size (μm),Quantity,Area (μm^2),Total Area (μm^2),Cumulative Total Area (μm^2),Cumulative PPM
0,5,122,19.634954,2395.464398,2395.464398,8.938300
1,15,100,176.714587,17671.458676,20066.923075,74.876579
2,25,67,490.873852,32888.548092,52955.471167,197.595042
3,50,29,1963.495408,56941.366846,109896.838013,410.062828
4,100,10,7853.981634,78539.816340,188436.654353,703.121845
5,150,4,17671.458676,70685.834706,259122.489059,966.874959

## Display results

In [21]:
total_particle_area
area_in_um2
contamination_ppm
particle_df

,Particle Size (μm),Quantity,Area (μm^2),Total Area (μm^2),Cumulative Total Area (μm^2),Cumulative PPM
0,5,122,19.634954,2395.464398,2395.464398,8.938300
1,15,100,176.714587,17671.458676,20066.923075,74.876579
2,25,67,490.873852,32888.548092,52955.471167,197.595042
3,50,29,1963.495408,56941.366846,109896.838013,410.062828
4,100,10,7853.981634,78539.816340,188436.654353,703.121845
5,150,4,17671.458676,70685.834706,259122.489059,966.874959

In [26]:
print("Total particle area (μm²):", total_particle_area)
print("Total surface area (μm²):", area_in_um2)
print("Contamination (ppm):", contamination_ppm)
particle_df

Total particle area (μm²): 259122.48905890313
Total surface area (μm²): 268000000.00000003
Contamination (ppm): 966.8749591750116

,Particle Size (μm),Quantity,Area (μm^2),Total Area (μm^2),Cumulative Total Area (μm^2),Cumulative PPM
0,5,122,19.634954,2395.464398,2395.464398,8.938300
1,15,100,176.714587,17671.458676,20066.923075,74.876579
2,25,67,490.873852,32888.548092,52955.471167,197.595042
3,50,29,1963.495408,56941.366846,109896.838013,410.062828
4,100,10,7853.981634,78539.816340,188436.654353,703.121845
5,150,4,17671.458676,70685.834706,259122.489059,966.874959